body, * {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
*[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}

@btnColor: #316cb7;
@bgBoxColor: #f5f5f5;
@borderBoxColor: darken(@bgBoxColor, 10%);

//SCREEN SIZES:
//MOBILE FIRST (for min-width):
@mobileLG: 1200px;
@mobileMD: 992px;
@mobileSM: 768px;

//DESKTOP FIRST (for max-width)
@desktopMD: 1199px;
@desktopSM: 991px;
@desktopXS: 767px;


.container {
    padding: 0 15px;
    margin: auto;
    @media (min-width: @mobileSM){
        width: 750px;
    }
    @media (min-width: @mobileMD){
        width: 950px;
    }
    @media (min-width: @mobileLG){
        width: 1150px;
    }
    header {
        padding: 20px;
        text-align: center;
    }
    section {
        .search {
            padding: 20px;
            margin-bottom: 20px;
            background-color: @bgBoxColor;
            border: 1px solid @borderBoxColor;
            border-radius: 5px;
            .search-select {
                margin-bottom: 15px;
                .search-poster {
                    width: 40px;
                    height: 55px;
                    margin: 5px 10px 5px 0;
                    background-color: #fff;
                    border-radius: 4px;
                }
                .search-year {
                    font-size: 75%;
                    font-style: italic;
                }
            }
            .search-btn {
                display: block;
                width: 100%;
                color: #fff;
                background-color: @btnColor;
                border: 1px solid darken(@btnColor, 10%);
                border-radius: 5px;
                padding: 5px 10px;
                outline: none;

                .glyphicon-refresh-animate {
                    -animation: spin .7s infinite linear;
                    -webkit-animation: spin2 .7s infinite linear;
                }
            }
        }

        .result {
            overflow: hidden;
            .result-box {
                margin-bottom: 20px;
                border: 1px solid @borderBoxColor;
                border-radius: 5px;
                .result-title {
                    background-color: @bgBoxColor;
                    padding: 10px 15px;
                    border-bottom: 1px solid @borderBoxColor;
                    border-radius: 5px 5px 0 0;
                }
                .result-list li {
                    padding: 10px 15px;
                    border-bottom: 1px solid @borderBoxColor;

                    &:last-child {
                        border-radius: 0 0 5px 5px;
                        border-bottom: 0;
                    }
                }
            }
        }

        .history {
            overflow: hidden;
            border-top: 2px dashed @borderBoxColor;
            margin-top: 15px;
            .history-list {
                border: 1px solid @borderBoxColor;
                border-radius: 5px;
                margin-top: 10px;
                li {
                    padding: 10px 15px;
                    border-bottom: 1px solid @borderBoxColor;

                    &:last-child {
                        border-radius: 0 0 5px 5px;
                        border-bottom: 0;
                    }

                    &:hover {
                        background-color: @bgBoxColor;
                    }
                }
            }
        }

        .message {
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 5px;
            border: 1px solid transparent;

            &.message-info {
                color: #16778f;
                background-color: #c5edf7;
                border-color: #a5d7f1;
            }
        }
    }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}